extends base

block content
    main.main
        h1.heading-secondary Staff dashboard
        .card-container
            each value, label in cards
                article.card
                    .card__details
                        h2.heading-secondary= label
                        p= label === 'revenue' ? `$${value}` : value
        h2.heading-secondary Monthly departure plan
        if !monthlyPlan.length
            p No departures are scheduled this year.
        else
            table.staff-table
                thead
                    tr
                        th Month
                        th Departures
                tbody
                    each month in monthlyPlan
                        tr
                            td= new Date(2000, month._id - 1).toLocaleString('en', { month: 'long' })
                            td= month.departures
        nav
            if user.role !== 'guide'
                a.btn.btn--small.btn--green(href='/staff/tours') Tours
                a.btn.btn--small.btn--green(href='/staff/departures') Departures
                a.btn.btn--small.btn--green(href='/staff/bookings') Bookings
            if user.role === 'admin'
                a.btn.btn--small.btn--green(href='/staff/users') Users
                a.btn.btn--small.btn--green(href='/staff/reviews') Reviews
